:root {
  --font-heading: 'Plus Jakarta Sans', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-code: 'Fira Code', monospace;
  --font-logo: 'Share Tech Mono', monospace;


  --bg-primary: #0b0f19;
  --bg-card: #161f30;
  --bg-card-hover: #1e293b;
  --bg-header: rgba(17, 23, 39, 0.5);
  --bg-footer: #070a11;
  --border-color: rgba(255, 255, 255, 0.08);

  --text-main: #f8fafc;
  --text-muted: #94a3b8;

  --accent-cyan: #38bdf8;
  --accent-purple: #818cf8;
  --accent-green: #22c55e;
  --accent-red: #ef4444;

  --gradient-accent: linear-gradient(135deg, var(--accent-cyan) 0%, var(--accent-purple) 100%);
  --shadow-glow: 0 0 20px rgba(56, 189, 248, 0.15);

  --shadow-glow-neon: 0 0 10px rgba(56, 189, 248, 0.5), 
                      0 0 30px rgba(56, 189, 248, 0.3);
}
html, body, main {
    background-color: var(--bg-primary);
}